Link to RFC 9052 Content Key Distribution Methods

Section 8 of RFC 9052 is THE taxonomy of Content Key Distribution methods. All the Content Key Distribution Methods in Section 6 of 9053 normatively link back to Section 8. I believe that’s the way COSE specifications are supposed to work.

COSE-HPKE key encryption mode is a flavor of 8.5.5, Key Agreement with Key Wrap. The normative requirements it states largely apply to COSE-HPKE recipients.

Note that it's possible for a COSE-HPKE recipient to sit next to an algorithm -29 recipient and both wrap the same CEK.